.App {
  background-color: rgb(247, 241, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
} 

  .Products-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
  }

  .Products{
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
  }
  .name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 30px;
  }

.price{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  padding-left: 30px;
 }

.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  padding-left: 30px;
}

.Drinks-section{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
}

.Deodorants-section{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
}